
body {
  font: 15px sans-serif;
  padding: 25px;
}

header {
  padding-top: 25px;
  border-top: 1px solid #ccc;
  margin-bottom: 50px;
}

section {
  margin-bottom: 50px;
  border-top: 1px solid #ccc;
  padding-top: 25px;

  svg {
    border: 1px solid #ccc;
  }

  div.wrap-input {

    label {
      min-width: 50px;
      display: inline-block;
      margin-right: 10px;
    }

    input {
      margin-right: 10px;
      &[type="number"] {
        width: 75px;
      }
      &[type="range"] {
        width: 100px;
      }
    }

    p + p {
      margin-top: -5px;
    }

  }

  &#vis-bxp,
  &#vis-bxp-split {

    div.wrap-vis svg {

      rect {

        &.outline {
          stroke-width: 1;
          fill-opacity: 0;
          stroke: black;
        }
        &.fill {
          fill: black;
        }

      }

    }

  }

  &#vis-bxp-competition,
  &#vis-bxp-split-competition {

    div.wrap-input {
      ul.brands {
        list-style: none;
        padding: 0;
        display: flex;

        li {
          margin-right: 15px;
          + li {
            padding-left: 15px;
            border-left: 1px solid #ccc;
          }
        }

      }
    }

    div.wrap-vis svg {

      rect {

        &.outline {
          stroke-width: 1;
          fill-opacity: 0;
          stroke: black;
        }
        &.fill {
          fill: black;
        }

      }

    }

  }

}
